version: '3.8'

services:
  db:
    image: postgres:13
    container_name: postgres_db
    restart: always
    env_file:
      - ./.env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    container_name: fastapi_backend
    build: ./backend
    restart: always
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    container_name: react_frontend
    build: ./frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data:
